#header
  %ul.navigation
    %li
      = link_to 'About', '#'
    %li
      = link_to 'Projects', '#'
    %li
      = link_to 'Process', '#'
    %li
      = link_to 'Contact', '#'

%h1
  UXme
  %span
    \.
%h2
  designing beautiful experiences