.footer
  .logo
    %h1
      = link_to "UX", root_path
      %span
        = link_to "me.", root_path
  %h4
    a ruby-on-rails and user experience design consultancy
  %p
    copyright © 2012 UXme., Inc.
  - if mobile_device?
    %h4#mobile
      = link_to "visit full site", :mobile => 0
  - else
    %h4#mobile
      = link_to "visit mobile site", :mobile => 1